NEXT_PUBLIC_SUPABASE_URL="https://kdyphydfqcpwoyoffbkl.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkeXBoeWRmcWNwd295b2ZmYmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDkzMDIsImV4cCI6MjA4ODc4NTMwMn0.x468gAh9OIidpviPQfK8KW-iEljVPP9biZnmyUt2w5o"
GEMINI_API_KEY=AIzaSyCuDgEtUs0PFV1c2jEV32abaVCn-Bw72v8
NEXT_PUBLIC_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkeXBoeWRmcWNwd295b2ZmYmtsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzIwOTMwMiwiZXhwIjoyMDg4Nzg1MzAyfQ.PmyiTbmmgE48Wmq8nvvb4KmQXB_WCPnm95gaJE6xYhI"